@import url(https://fonts.googleapis.com/earlyaccess/kopubbatang.css);

body {
  margin: 0;
  padding: 0;
  background: url('../img/eeht-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #f1f1f1;
  font-family: 'KoPub Batang', serif !important;
}

a {
  text-decoration:none;
  color:#000;
  border-bottom:0.1em solid;
  padding:0 0 0.1em 0;
}
.container {
  padding:40px;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 400;
}
.top ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.top ul li {
  list-style: none;
}
.top ul li.left {
  font-family: 'KoPub Batang', serif !important;
  width: 70%;
  display: inline-block;
  float: left;
  text-align: left;
}
.top ul li.right {
  font-family: 'KoPub Batang', serif !important;
  width: 70%;
  display: inline-block;
  float: right;
  text-align: right;
}
.top ul li.desc {
  font-family: 'KoPub Batang', serif !important;
  width: 70%;
  display: inline-block;
  float: left;
  text-align: left;
  letter-spacing: -0.02em;
  font-size: 0.9em;
  line-height: 1.8em;
}
.bottom li{
  display: inline;
}
.bottom ul{
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family:'KoPub Batang', serif !important;
  float: left;
  text-align: left;
  letter-spacing:-0.02em;
  font-size:0.9em;
  position:absolute;
  bottom:40px;
  line-height: 1.8em;
}
@media all and (max-width: 768px) {
 .top {height: 100%; min-height: 520px;}
 .top ul li.left {width: 100%;}
 .top ul li.right {width: 100%;}
 .top ul li.desc {font-size: 70%; width: 100%; padding: 20px 0 60px 0;}
 .bottom {font-size: 70%; bottom: 40px;}
}
